
.mailtoCss {
	display: inline-flex;
	align-items: center;
	padding: 4px 10px; 
	margin-top: 10px;
	background-color: #3b82f6; 
	color: white;
	border-radius: 0.375rem;
	text-decoration: none;
	transition: all 0.3s ease;
  }
  
  .mailtoCss:hover {
	background-color: #2563eb; 
	transform: translate(-1px, -1px);
  }
  
  
  .mailtoCss .icon {
	margin-right: 8px; 
  }